.form-control {
    margin: 7px 0;
}

input {
    margin-left: 5px;
}

.btn {
    background-color: rgb(3, 61, 6);
    color: rgb(241, 234, 234);
    font-weight: bold;
    margin: 20px 0 20px 0;
    display: flex;
    position: relative;
    left: 430px;
}


